@page "/"

@inject NavigationManager _navigationManager

<PageTitle>Index</PageTitle>

<h1>Blazor Quiz</h1>

Welcome

<div class="d-flex align-center justify-center">
<AuthorizeView>
	<Authorized>
		 <MudItem xs="12" Class="d-flex align-center justify-center">
				<MudButton Style="width: 300px; height: 200px; margin: 20px;" Variant="Variant.Filled" Color="Color.Primary" OnClick="CreateQuiz">Create Quiz</MudButton>
				<MudButton Style="width: 300px; height: 200px; margin: 20px;" Variant="Variant.Filled" Color="Color.Primary" OnClick="JoinQuiz">Join Quiz</MudButton>
				<MudButton Style="width: 300px; height: 200px; margin: 20px;" Variant="Variant.Filled" Color="Color.Primary" OnClick="ViewQuiz">See All Your Quizzes</MudButton>
		</MudItem>
	</Authorized>
	<NotAuthorized>
		<p>Login to se content</p>
	</NotAuthorized>
</AuthorizeView>
</div>


@code{
	string gameCode;

	private void CreateQuiz()
	{
		_navigationManager.NavigateTo("/createquiz");
	}
	private void JoinQuiz()
	{
		_navigationManager.NavigateTo("/joinquiz");
	}
	private void ViewQuiz()
	{
		_navigationManager.NavigateTo("/myquizzes");
	}

}

