@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager _navigationManager

<PageTitle>Index</PageTitle>


<AuthorizeView>
	<Authorized>
		<div class="d-flex align-center justify-center">
			<MudItem xs="12" Class="d-flex align-center justify-center" style="padding-top: 20vh">
				<MudButton Style="width: 300px; height: 200px; margin: 20px;" Variant="Variant.Filled" Color="Color.Primary" OnClick="CreateQuiz">Create Quiz</MudButton>
				<MudButton Style="width: 300px; height: 200px; margin: 20px;" Variant="Variant.Filled" Color="Color.Primary" OnClick="JoinQuiz">Join Quiz</MudButton>
				<MudButton Style="width: 300px; height: 200px; margin: 20px;" Variant="Variant.Filled" Color="Color.Primary" OnClick="ViewQuiz">See All Your Quizzes</MudButton>
			</MudItem>
		</div>
	</Authorized>
	<NotAuthorized>
		<div class="d-flex align-center justify-center">
			<MudItem xs="12" Class="d-flex align-center justify-center" style="padding-top: 20vh">
				<MudButton Style="width: 300px; height: 200px; margin: 20px;" Variant="Variant.Filled" Color="Color.Primary" OnClick="Login">Login</MudButton>
				<MudButton Style="width: 300px; height: 200px; margin: 20px;" Variant="Variant.Filled" Color="Color.Primary" OnClick="Register">Register</MudButton>
			</MudItem>
		</div>
	</NotAuthorized>
</AuthorizeView>


@code{
	private void CreateQuiz()
	{
		_navigationManager.NavigateTo("/createquiz");
	}
	private void JoinQuiz()
	{
		_navigationManager.NavigateTo("/joinquiz");
	}
	private void ViewQuiz()
	{
		_navigationManager.NavigateTo("/myquizzes");
	}
	private void Login()
	{
		_navigationManager.NavigateTo(" authentication/login");
	}
	private void Register()
	{
		_navigationManager.NavigateTo(" authentication/register");
	}

}

