@page "/joinquiz"
@using BlazorQuiz.Shared.ViewModels;
@using Microsoft.AspNetCore.Http;
@inject HttpClient _http
@inject NavigationManager _navigationManager
@inject ILocalStorageService _localStorage

<div class="ma-5 d-flex align-center justify-center">
    <MudGrid Class="d-flex align-center justify-center">
        <MudText Typo="Typo.h4">Join Quiz</MudText>
        <MudItem xs="12" Class="d-flex align-center justify-center">
            <MudPaper Width="500px" Class="d-block pa-12">
                <MudText Typo="Typo.h5">Join Quiz</MudText>
                <MudTextField T="string" Label="Enter Quiz link" @bind-Value="gameId" For="@(() => gameId)" Required="true" RequiredError="Enter quiz link!"/>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" Class="d-flex align-center justify-center">
            <MudButton Style="width: 200px; height: 100px;" Variant="Variant.Filled" Color="Color.Primary" OnClick="JoinQuiz">Start Quiz</MudButton>
        </MudItem>
    </MudGrid>
</div>

@code {
    string? gameId;
    List<GameQuizViewModel> quizDatas = new List<GameQuizViewModel>();
    private async Task JoinQuiz()
    {
        var response = await _http.PostAsJsonAsync($"api/game/newgame/{gameId}", gameId);
        if (response.IsSuccessStatusCode)
        {
            quizDatas = await response.Content.ReadFromJsonAsync<List<GameQuizViewModel>>();
            _navigationManager.NavigateTo($"/game/{gameId}");
        }
    }
}
