@page "/myquizzes"
@using BlazorQuiz.Shared.ViewModels
@inject HttpClient _http

<h3>UserCreatedQuizComponent</h3>

<div>
    <AuthorizeView>
        <Authorized>
            <ul>
            @foreach (var item in createdQuizList)
            {
                    <li><MudLink Href='@string.Format("/myquizzes/{0}", item.PublicId)' Color=Color.Inherit Underline="Underline.None">@item.Name</MudLink></li>
            }
            </ul>
        </Authorized>
        <NotAuthorized>
            <p>Login to view data</p>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {
    List<UserCreatedQuizViewModel>? createdQuizList = new List<UserCreatedQuizViewModel>();

    protected override async Task OnInitializedAsync()
    {
        var response = await _http.GetAsync("api/profile/myquizzes");
        createdQuizList = await response.Content.ReadFromJsonAsync<List<UserCreatedQuizViewModel>>();
    }

}
